<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>21/06/11 10:35:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.tc_001()[pri:0, instance:TestClasses.LoginTest@6acdbdf5]">tc_001</td> 
  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>21/06/11 10:35:08</td>   <td>922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterMethod()[pri:0, instance:TestClasses.LoginTest@6acdbdf5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>21/06/11 10:35:03</td>   <td>-3592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeMethod()[pri:0, instance:TestClasses.LoginTest@6acdbdf5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@897074030</td>   <td></td> </tr>
</table>
